<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>

<body>
    <h1>Add a Farm</h1>
    <form action="/farms" method="post">
        <label for="name"> Farm Name : 
            <input type="text" name="name" id="name" placeholder="Farm Name">
        </label>
        <br>
        <br>
        <label for="cname"> City : 
            <input type="text" name="city" id="cname" placeholder="City Name">
        </label>
        <br>
        <br>
        <label for="ename"> Email : 
            <input type="email" name="email" id="name" placeholder="Email">
        </label>
        <br><br>
        <button>Submit</button>
    </form>
</body>

</html>