<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>The Home package</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, doloribus! Eum explicabo nisi architecto? Et earum iure exercitationem inventore atque sequi quibusdam unde voluptatibus quasi, ea veniam vel! Quae exercitationem quis quisquam error iste labore. Soluta minima porro quia aliquid quae, eligendi repellat fugit, similique, ad omnis earum est nostrum. Quod incidunt explicabo obcaecati adipisci dolore, modi sed accusantium! Quis nobis fugiat magni exercitationem dolorem delectus sint doloribus, similique, pariatur iure omnis cum! Repudiandae quaerat autem voluptates laudantium, amet, numquam dolor praesentium quis, expedita repellendus unde. Consequuntur iusto placeat in. Hic, quae quos eum facere beatae nisi suscipit cumque culpa fuga tenetur error, voluptatem necessitatibus deleniti corporis pariatur aspernatur ex. Non, enim nesciunt! Cupiditate asperiores quis explicabo earum. Dolorum itaque omnis, aut eveniet dolores ad distinctio est qui doloribus officia vero maiores? Nesciunt unde corporis nostrum voluptas quis iusto inventore ea porro nobis voluptatem. Minima vitae, nulla ratione eaque dolorem expedita tempore, dicta accusamus vero adipisci molestias tenetur quibusdam aliquid reprehenderit sequi dolorum, quam qui. Veniam itaque optio soluta porro adipisci voluptatum quaerat odio mollitia quasi, incidunt iste cupiditate quisquam dolor deserunt culpa quod sapiente, perspiciatis id reprehenderit ea doloribus. Repellat fuga minima atque vitae expedita, distinctio adipisci dolore id.</p>
</body>
</html>